<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acesso</title>
</head>
<body style="text-align: center; padding: 40px;">
    <h1>Voce acessou a pagina protegida!</h1>
    <h2>Seja bem vindo <span style="color: green; text-transform: capitalize;">{{userName}}</span> ;></h2>

    <a href="/login" style="background-color: rgb(85, 85, 243); padding: 10px 20px; border: 2px solid blue; border-radius: 20px; color: white; text-decoration: none;">
        Voltar pro login
    </a>
</body>
</html>